@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);


body{
    font-family: "lucida grande",sans-serif;
    letter-spacing: 1px;
    background-color: orange;

    background: url("../img/hockeybckr.png") repeat;
    background-attachment: fixed;
}

.noStyle{
    text-decoration: none;
}

.noStyle:hover{
    text-decoration: none;
}

.wrapper{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.closeButton{
    padding: 5px;
    margin-right: 19px;
    margin-top: 5px;
    color: #e96000;
}

.closeButton:hover{
    opacity: 0.8;
}

#singlePlayerContent{
    width: 76.6%;
    position: fixed;
    z-index: 1000;
    display: none;

}

#singlePlayer{
    width: 600px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
    box-shadow:  3px 5px 8px 4px rgba(0,0,0,0.5);
}

.singlePlayerPic{
    padding-top: 15px;
    margin-left: 5px;
}

.singlePlayerImg{
    width: 213px;
}

.singlePlayerName{

}

.singleName{
    margin-left: 15px;
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

.singlePlayerInfo{
    background-color: #e4e3e2;
}

.leftInfo{
    display: inline-block;
    margin-left: 20px;
}

.rightInfo{
    display: inline-block;
    margin-left: 50px;
    float: right;
    padding-right: 20px;
}

.infoTable{
    text-align: left;
    letter-spacing: 0;
}

.top{
    padding-top: 5px;
}

.infoContent{
    letter-spacing: 0;
    border-top: 1px solid #cccccc;
    margin-left: 35px;
    margin-top: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
    text-align: left;
}

.logoDiv{
    margin-top: 10px;
    margin-bottom: 10px;
}

.headLogo{
    height: 150px;
}

.headLogoText{
    color: #ffffff;
    vertical-align: middle;
    font-size: 60px;
    margin-top: 50px;
    text-shadow: 3px 4px rgba(0,0,0,0.7);
    margin-left: -50px;
}

.navbar-default{
    background-color: #136d2d;
    border-color: #136d2d;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}

.navbar{
    height: 38px;
    min-height: 38px;
}

.navbar-default .navbar-brand {
    color: #fff;
    padding: 9 15;
    margin-top: -1px;
}

.navbar-default .navbar-brand:hover {
    background-color: #115726;
    color: #ffffff;
    height: 38px;
    margin-top: -1px;
}

.nav > li{
    margin-top: -1px;
    z-index: 999;
}

.nav > li:hover{
    background-color: #115726;
}

.navbar-default .navbar-nav > .open > a:focus{
    color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: #115726;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #ffffff;
}

.dropdown-menu{
    background-color: #136d2d;
    border: 1px solid #ccc;
}

.dropdown-menu > li > a{
    color: #ffffff;
}

.dropdown-menu > li > a:hover{
    color: #ffffff;
    background-color: #115726;
}


@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 9px;
        padding-bottom: 9;
    }
}

@media (min-width: 768px){
    .navbar-nav {
        height: 38px;
    }
}

@media (min-width: 768px){
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        height: 38px;
    }
}

@media (min-width: 768px){
    .navbar-right {
        margin-right: -31px;
    }
}

.navbar-toggle{
    margin-top: 1px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #115726;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}



.navbar-default .navbar-nav > li > a {
    background-color: #136d2d;
    z-index: 999;
}

.navbar-default .navbar-nav > li > a:hover {
    z-index: 1001;
    background-color: #115726;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        background-color: #1b8b3c;
    }
}

@media (max-width: 1033px){
    .headLogoText{
        margin-top: 0;
        margin-left: 0;
    }
}


.allContent{
    background-color: #f5f5f5;
    margin-top: -20px;
    padding-top: 20px;
    margin-left: 0px;
    padding-bottom: 20px;
    margin-right: 0;
}

.footerContent{
    padding-bottom: 100px;
    margin-left: 0;
}

.footerText{
    color: #ffffff;
    font-size: 10px;
    padding-top: 15px;
    letter-spacing: 0;
}

.frameContent{
}

.newsFrame{
}

.newsPic{
    max-width: 600px;
    max-height: 336px;
    min-height: 336px;
}

.img2{
    display: none;
}

.img3{
    display: none;
}

.img4{
    display: none;
}

.picHeadline{
    margin-top: -60px;
}

.newsFrameText{
    background-color: rgba(0,0,0,0.8);
    height: 60px;
    width: 600px;
    margin: 0 auto;
    overflow: scroll;
}

.newsPicText{
    color: #ffffff;
    text-align: left;
    font-size: 30px;
    margin-left: 20px;
    padding-top: 10px;
}

.miniPics{
    height: 112px;
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 20px;
}

.archive{
    margin-left: 20px;
}

.newsHeadline{
    background-color: #e96000;
    height: 30px;
    padding-top: 4px;
}

.newsHeadlineText{
    color: #ffffff;
    text-align: left;
    vertical-align: bottom;
    font-size: 16px;
}

.sideNews{
    background-color: #ffffff;
    text-align: left;
    padding-top: 8px;
    height: 38px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

.sideNewsArchive{
    background-color: #ffffff;
    padding-top: 8px;
    height: 38px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: right;
    /*box-shadow: 0px 2px 1px rgba(0,0,0,0.3);*/
}

.archiveText:hover{
    cursor: pointer;
    color: rgba(0,0,0,0.6);
}

.sideNews:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.sideNewsContent{
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.newsDate{
    display: inline-block;
    color: grey;
    text-align: left;
    font-size: 10px;
    margin-right: 15px;
}

.sideNewsText{
    display: inline-block;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}

.miniImgs{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.miniImgs:hover{
    cursor: pointer;
    opacity: 0.8;
}

.miniImg{
    width: 128px;
    border-radius: 4px;
}


.goalieHeadline{
    font-size: 30px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 20px;
}

.playerPic{
    width: 213px;
}

.playerNr{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #136d2d;
}

.playerName{
    display: inline-block;
    width: 183px;
    height: 30px;
    background-color: #e96000;
    margin-left: -6px;
}

.playerNrText{
    color: white;
    text-align: center;
    margin-top: 4px;
}

.playerNameText{
    color: #ffffff;
    text-align: left;
    margin-left: 15px;
    margin-top: 4px;
}

.infoBorder{
}

.player{
    margin-bottom: 20px;
}

.player:hover{
    cursor: pointer;
    opacity: 0.8;
}

.archiveHeadline{
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.archiveHeadlineText{
    line-height: 1.2;
    letter-spacing: 0;
}

.underHeadline{
    text-align: left;
    margin-left: 20px;
}

.underHeadlineText{
    letter-spacing: 0;
    line-height: 1.2;
}

.newsContent{
    text-align: left;
    margin-left: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.articleDate{
    text-align: left;
    margin-left: 20px;
    padding-top: 5px;
    font-size: 10px;
    letter-spacing: 0;
}

.contact{
    margin-bottom: 20px;
}

.contactHeadline{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.contactName{
    font-weight: bold;
    font-size: 15px;
    margin-top: -10px;
    letter-spacing: 0;
}

.contactMail{
    margin-top: -10px;
    letter-spacing: 0;
}

.formHeadline{
    text-align: left;
}

.contactFormName{
    width: 100%;
    outline: none;
    height: 40px;
    margin-top: 20px;
    padding-left: 15px;
    border: 1px solid grey;
}

.formTextarea{
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 10px;
    height: 80px;
    outline: none;
}

.sendButton{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background-color: #e96000;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 4px;
}

.sendButton:active{
    background-color: orangered;
}

.tableItem{
    font-weight: bold;
    letter-spacing: 0;
    color: #115726;
}

.tableItemText{
    letter-spacing: 0;
    font-size: 13px;
}

.nothingToRead{
    color: grey;
}

.addBorder{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

.sponsorPic{
    height: 30px;
}

.middlePic{
    width: 283px;
    border: 4px solid #136d2d;
}

.middleBorder{
    margin-top: 40px;
}

.galleri{
    margin-top: 40px;
}

.galleriPic{
    width: 925px;
}

.smallPics{
    cursor: pointer;
    max-width: 130px;
    margin-bottom: 15px;
    margin-left: -35px;
    max-height: 72px;

}


.smallPics:hover{
    opacity: 0.8;
}

.next {
    float:right;
    text-align:right;
    margin-right: 20px;
    margin-top: 8px;
}

.previous{
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}

.controls{
    text-align: center;
    display:block;
    font-size: 20px;
    color: #e96000;
}

.controls:hover{
    color: #136d2d;
}

.galleriHeadline{
    letter-spacing: 0;
    font-size: 20;
}


.footerRight{
    float: right;
}

a:focus{
    color: #e96000;
}

.modal-content{
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.bigGalleriPic{
    margin: 0 auto;
}

.failHeadline{
    font-size: 40px;
    letter-spacing: 0;
}

.failText{
    font-size: 20px;
    letter-spacing: 0;
}

.failContent{
    margin-left: 40px;
}

.footerInfo{
    display: inline-block;
}



